@font-face {
  font-family: 'PT Mono';
  src: url('./PT Mono.ttf') format('truetype');
}

body {
  cursor: none;
  margin: 0px;
  overflow: hidden;
  background-color: #000000;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  cursor: pointer;
  height: 200px;
  width: 200px;
  padding: 10px;
  background-color: transparent;
  border: transparent;
  color: #ffffff;
  font-family: 'PT Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
